/* The sidebar menu */
#App-Sidebar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 2;
  left: 0;
  top: 20vh;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}
