button {
    padding: 10px 8px 10px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    background: none!important;
    border: none;
    cursor: pointer;
}

/* When you mouse over the navigation links, change their color */
button:hover {
    color: #d1d1d1;
}

/* styling when clicked */
button:focus{
    outline: none;
}