language: node_js
node_js:
  - "stable"
os: linux
script:
  - nvm install node
  - cd ./client/app
  - npm install
  - npm run build
  - cd ../..
  - npm install
  - npm install cors
  - rsync -a ./client/app/build .
  - rm -rf ./client/app/build/*
deploy:
  provider: heroku
  app: "dashboard-for-stuff"
  api_key:
    secure: "ABAk1wXxiut37MtnCzsobZ6BLc0i+n+o8ON36UUuZqkH6eP4f8FfyMOrvxlJzIYRGlvRwrC7cZEHdF5cItKBlzjy/DKEcGRxmAofG4YnU+fcoLFa6CVAzSdRC17Jr5W+SYMP/aATHe79Vqa0n5WPmpOC0D9kdZWUop/1sf9CzAPp/KWQPo+zbDBgAZ3i3v2t6jqbmXyd8yU87vuRq2nWVhGt+dfyGiS2F4LnlNQDaPn0t0X10yUw5UHr8LkZfUu6mxFaLjmWdN592pcNuwm0JEJp7QwzRcs5BDx/LiqVf+XjUnb0K1BeQ6X+cE9d9Z96Ia5VY01yHxrZqKyED7sCV7+QvAwzO05+aZdpH3bKFUZjqlVFhs5PldvG/43JHl3h0D7ZqmJ9mFLDvCtXPsyKZu4KSWSUkVOq1zWoAylf/b5niMrqGy6jWHGR6qKXtuwUGFKho4dez2uY3o7+VVOZ98dwSQrWmglp+qhdVhtwH7ZtQWHFO+JssCTLp+TDAaAJHYHjEMxejgc976FmU+ZPQpWBRvzbUqR2fwNcmddLR9crvOHLXrS4G8OkQo8PNr7QVV0CWheWZLVr05FV+PMU+x2dcLs/weJw5hdxx8OHttszbj03HODDm0k63yL4d1olgIysh1cPMeGtaiUYTl5iuT73O4q4os4s6laeL5Mg7bs="
  skip_cleanup: true
on:
  branch: master
  
