header {
    text-align: left;
    padding-left: 20px;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    font-size: calc(10px + 2vmin);
    color: #dcdcdc;
    position: fixed;
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    width: 100%;
  }