.Reddit-Article {
  padding: 10px;
  padding-left: 20px;
  width: 80%;
}

/* When you mouse over the navigation links, change their color */
.Reddit-Article a:hover {
  color: #e1e1e1;
  text-decoration: underline;
}

/* styling when clicked */
.Reddit-Article a, a:visited, a:active{
  color: #d1d1d1;
  text-decoration: none;
}

.Reddit-Article p {
  margin: 0px;
}

.Reddit-Article h3 {
  margin-bottom: 5px;
  width: 50%;
  text-align: left;
}

/* Style the button that is used to open and close the collapsible content */
.Reddit-Article .collapsible {
  cursor: pointer;
  padding: 18px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Style the collapsible content. Note: hidden by default */
.Reddit-Article .content {
  padding: 0 18px;
  margin-bottom: 18px;
  display: none;
  overflow: hidden;
}

.Reddit-Article img {
  max-width: 100%;
}