.App-Content {
  height: 100%;
  padding: 20px;
  margin-left: 160px; /* Same as the width of the sidebar */
  font-size: 15px;
  margin-top: 20vh
}

#loader {
  width: 100%;
  height: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}